<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Replies</title>
</head>

<body>
    {% if replies %}
    {% for reply in replies %}
    <div class="replydiv">
        {% include "smallpost.html" with post=reply %}
    </div>
    {% endfor %}
    {% else %}
    <div class="replydiv">
        <label class="noreplytext">No Replies</label>
    </div>
    {% endif %}
</body>

<style>
    .replydiv {
        padding-left: 20px;
    }
</style>

</html>