<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Post</title>
    <script src="/static/common.js"></script>
</head>

<body>
    <div class="fullpostdiv">
        <p id="fullpostinfo">[id:{{post.pid}}] [posted:;d;] [pinned:{{post.pinned}}] [topic:{{post.topic}}]</p>
        {% if image %}
        <img class="fullpostimg" src="/{{image.file}}" width="100%">
        {% endif %}
        <h1 class="fullposttitle">{{post.title}}</h1>
        <div class="fullpostbody">
            {{post.body|linebreaks}}
        </div>
        <a class="fullpostreply" href="/topic/{{topic}}/{{post.pid}}/reply">Reply</a>
    </div>
</body>

<script>
    console.log("changing post localtime");
    localtime = getlocaltime("{{post.creation_date|date:"r"}}");
    document.getElementById("fullpostinfo").innerHTML = document.getElementById("fullpostinfo").innerHTML.replace(";d;", localtime);
</script>

<style>
    h1, p {
        margin: 0;
    }

    img {
        height: auto;
        width: inherit * 2;
    }

    .fullpostbody {
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>

</html>