<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Replies</title>
</head>

<body>
    {% if replies %}
        {% for reply in replies %}
        <div class="replydiv">
            <button id="expandbtn-{{reply.id}}" onclick="loadreplies({{reply.id}});">+</button>
            <div class="replyinfo">
                <a onclick="loadpost({{reply.id}}); return true;" href="#{{reply.id}}" class="posttitle">{{reply.title}}</a>
                <label class="extrainfo">[id: {{reply.id}}]</label>
                <label class="extrainfo">[date: {{reply.creation_date}}]</label>
                <!-- <a href="/topic/{{topic}}/{{post.id}}/reply">Reply</a> -->
            </div>
            <div class="postrepliesdiv" id="postreplies-{{reply.id}}"></div>
        </div>
        {% endfor %}
    {% else %}
    <div class="replydiv">
        <label>No Replies</label>
    </div>
    {% endif %}
</body>

<style>
    .replydiv > * {
        display: inline-block;
    }

    .replydiv {
        padding-left: 20px;
    }
</style>

</html>