<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Post</title>
</head>

<body>
    <div class="fullpostdiv">
        <p class="fullpostinfo">[id: {{post.pid}}] [posted: {{post.creation_date}}] [pinned: {{post.pinned}}] [topic: {{post.topic}}]</p>
        <img class="fullpostimg" src="/{{image.file}}" width="100%">
        <h1 class="fullposttitle">{{post.title}}</h1>
        <p class="fullpostbody">{{post.body}}</p>
        <br>
        <a class="fullpostreply" href="/topic/{{topic}}/{{post.pid}}/reply">Reply</a>
    </div>
</body>

<style>
    h1, p {
        margin: 0;
    }

    img {
        height: auto;
        width: inherit * 2;
    }
</style>

</html>