#header,
#post,
#convos,
#fullpostdiv,
#homediv {
    background-color: black;
}

#convos,
#post {
    border: 1px solid white !important;
}

#headertitle,
#themeslabel,
.posttitle,
.extrainfo,
.fullpostinfo,
.fullposttitle,
.fullpostbody,
.noreplytext,
#hometitle,
#hometopicslist {
    color: lime;
}

#backbtn,
#postbtn,
.fullpostreply,
.topiclink {
    color: aqua;
}