#header,
#post,
#convos,
#fullpostdiv {
    background-color: black;
}

#convos,
#post {
    border: 1px solid white !important;
}

#headertitle,
#themeslabel,
.posttitle,
.extrainfo,
.fullpostinfo,
.fullposttitle,
.fullpostbody,
.noreplytext {
    color: lime;
}

#backbtn,
#postbtn,
.fullpostreply {
    color: aqua;
}